/* ContactPage.css */

.contact-page {
    padding: 50px 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header h1 {
    font-size: 2.5rem;
    color: #f45d48;
    margin-bottom: 10px;
}

.contact-header p {
    font-size: 1.1rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.contact-info,
.contact-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-info h2,
.contact-details h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.contact-info p,
.contact-details p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
}

.contact-info strong {
    color: #000;
}

.contact-image-container {
    text-align: center;

}

.contact-image {
    background-color:  black;
    width: 70px;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-icons img {
    background-color:  black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-info,
    .contact-details {
        margin: 0 auto;
    }

    .contact-image {
        max-width: 100%;
    }
}
